<md-toolbar class="md-tall">
	<span flex></span>
	<div class="md-toolbar-tools">
		<div class="fill-height" layout="row" flex style="position: relative;">
			<label>Liste der Schulen</label>
		</div>
	</div>
</md-toolbar>
<div class="data-table-container" style="background: white;" ng-if="schools.length > 0">
	<table class="data-table">
		<thead >
		<tr>
			<th></th>
			<th>Name</th>
			<th>Adresse</th>
			<th>Stadtteil</th>
			<th>Schulart</th>
			<th>Link</th>
			<th>Details</th>
		</tr>
		<tr>
			<td></td>
			<td colspan="6" class="divider divider--dark"></td>
		</tr>
		</thead>
		<tbody>
		<tr class="data-table__clickable-row" ng-click="centerMap(school)" ng-repeat="school in schools | startFrom:currentPage*pageSize | limitTo: pageSize">
			<td>
				<img ng-src="{{school.icon.src}}" class="img-table">
			</td>
			<td>
				<span>{{ school.name }}</span>
			</td>
			<td>
				<span>{{ school.street }}<br/>{{ school.zip }}</span>
			</td>
			<td>
				<span>{{ school.district }}</span>
			</td>
			<td>
				<span>{{ school.type }}</span>
			</td>
			<td>
				<a href="{{school.url}}"><span>{{school.url}}</span></a>
			</td>
			<td>
				<a class="btn btn--m btn--green btn--raised" href="#/school/{{ school.bsn }}" lx-ripple>Details</a>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="divider divider--dark mt+ mb+"></div>
	<div layout="row" layout-align="center center" class="m+">
		<button class="mr btn btn--m btn--blue btn--fab bgc-blue-600" lx-ripple ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><i class="mdi mdi-minus"></i></button>
		<label class="fs-title">Seite {{currentPage+1}} von {{numberOfPages()}}</label>
		<button class="ml btn btn--m btn--blue btn--fab bgc-blue-600" lx-ripple ng-disabled="currentPage >= schools.length / pageSize - 1" ng-click="currentPage=currentPage+1"><i class="mdi mdi-plus"></i></button>
	</div>
</div>
<div ng-if="schools.length == 0" layout="row" layout-align="center center" class="m+++">
	<label class="fs-title">Es gibt leider keine passende Schule.</label>
</div>
