<div class="large-5 columns" ng-controller="MainCtrl">
    <div class="panel">
        <h3>Filter</h3>
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <label>Stadtteil
                                <select chosen multiple class="multisel" data-placeholder="Stadtteile auswählen" ng-model="selectedDistricts" ng-options="value for value in districts" ng-change="updateFilter()"> 
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <label>Schulart
                                <select chosen multiple ng-model="selectedSchoolTypes" ng-options="value for value in schoolTypes" class="multisel" data-placeholder="Schulart auswählen" ng-change="updateFilter()"> 
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <label>Schulzweig
                                <select chosen multiple ng-model="selectedBranches" ng-options="value for value in branches" class="multisel" data-placeholder="Schulzweig auswählen" ng-change="updateFilter()"> 
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <label>Fremdspachen
                                <select chosen multiple ng-model="selectedLanguages" ng-options="value for value in languages" class="multisel" data-placeholder="Unterrichtssprache auswählen" ng-change="updateFilter()"> 
                                </select>
                           </label>
                        </div>
                        <div class="small-2 columns">
                            <label for="switchLanguages">Alle</label>
                            <div class="switch">
                                <input id="switchLanguages" type="checkbox" ng-model="allLanguages" ng-change="updateFilter()">
                                <label for="switchLanguages"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <label>Ausstattung
                                <select chosen multiple ng-model="selectedEquipments" ng-options="value for value in equipments" class="multisel" data-placeholder="Ausstattung auswählen" ng-change="updateFilter()"> 
                                </select>
                           </label>
                        </div>
                        <div class="small-2 columns">
                            <label for="switchEquipments">Alle</label>
                            <div class="switch">
                                <input id="switchEquipments" type="checkbox" ng-model="allEquipments" ng-change="updateFilter()">
                                <label for="switchEquipments"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Trägerschaft</label>
                    <input id="checkbox1" type="checkbox" checked /><label for="checkbox1">öffentlich</label>
                    <input id="checkbox2" type="checkbox" checked/><label for="checkbox2">privat</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse" ng-hide="shareLink != null">
                        <div class="small-2 small-offset-10 columns">
                            <a href="" class="button tiny" ng-click="filterAsLink()">Share</a>
                        </div>
                    </div>
                    <div class="row collapse" ng-hide="shareLink == null">
                        <div class="small-10 columns">
                            <input type="text" name="test" ng-model="shareLink" />
                        </div>
                        <div class="small-2 columns">
                            <button class="button postfix selectAll" clip-copy="shareLink">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="large-7 columns" ng-controller="MapCtrl">
    <div class="map_wrapper" style="height: 500px">
        <div id="map" style="width: 100%; height: 100%">
            <div ng-model="map"></div>
        </div>
    </div>
    <div data-alert class="alert-box success" style="margin-top: 1.25rem">
      {{ total }} Schulen in {{ took }} ms gefunden.
    </div>
</div>
