<div class="row" ng-controller="SchoolCtrl as school">
	<div class="large-12 columns" ng:show="error == null && loading == null">
		<h2>{{schoolData.name}}</h2>
		<p>URL: <a href="{{schoolData.wwwaddress}}">{{schoolData.wwwaddress}}</a></p>
		<p>Telefon: (030) {{schoolData.phonenumber}}</p>
		<p>Adresse: {{schoolData.address.street}}, {{schoolData.address.plz}} Berlin</p>

		<div class="row">
			<div class="medium-8 columns">
				<div class="panel">
				<h4>Schülerschaft</h4>
				<div ng-show="studentsData === null">
				Es liegen keine Informationen über die Schülerschaft vor</div>
				<div ng-show="studentsData !== null" ac-chart="chartType" ac-data="studentsData" ac-config="config" id='chart' class='chart' style="width: 100%; height: 250px"></div>
				</div>
			</div>
			<div class="medium-4 columns">
				<div class="panel">
				<h4>Fremdsprachen</h4>
				<div ng-show="schoolData.languages.length == 0">
					Es liegen keine Informationen über Sprachen vor.
				</div>
				<ul>
					<li ng-repeat="value in schoolData.languages">{{value}}</li>
				</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-8 columns">
				<div class="panel">
				<h4>Personal</h4>
				<div ng-show="personellData === null">
				Es liegen keine Informationen über das Personal vor</div>
				<div ng-show="personellData !== null" ac-chart="chartType" ac-data="personellData" ac-config="config" id='chart' class='chart' style="width: 100%; height: 250px"></div>
				</div>
			</div>
			<div class="medium-4 columns">
				<div class="panel">
				<h4>Behindertengerechte Austattung</h4>
				<div ng-show="schoolData.accessibility.length == 0">
					Es liegen keine Informationen über behindertengerechte Ausstattung vor.
				</div>
				<ul ng-show="schoolData.accessibility.length > 0">
					<li ng-repeat="value in schoolData.accessibility">{{value}}</li>
				</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-4 columns">
				<div class="panel">
				<h4>Austattung</h4>
				<div ng-show="schoolData.equipments.length == 0">
				Es liegen leider keine Daten über die Ausstattung vor.
				</div>
				<ul ng-show="schoolData.equipments.length > 0">
					<li ng-repeat="value in schoolData.equipments">{{value}}</li>
				</ul>
				</div>
			</div>
		</div>

		
	</div>
	<div class="large-12 columns" ng:show="loading != null">
		<h1>Suche nach der Schule mit der Nummer {{schoolId}}!</h1>
	</div>
	<div class="large-12 columns" ng:show="error != null">
		<h1>Wir haben leider keine Schule mit der Nummer {{schoolId}} gefunden!</h1>
	</div>
</div>
