<div layout="row" layout-align="center center" flex-gutter="24">
	<div class="card mt+ mb+" id="schoolCard">
		<div flex-container="column">
			<div class="card__img">
				<leaflet center="berlin" defaults="defaults" markers="data.markers"></leaflet>

				<!-- <img src="http://lorempixel.com/500/200"> -->
			</div>

			<div flex-item>
				<div class="p+ center">
					<strong class="fs-headline display-block">{{ school.Schulname }}</strong>
					<span class="fs-subhead tc-black-2 display-block">{{ school.Schulart }} ({{ school.Schultraeger }})</span>
				</div>
			</div>

			<div flex-item flex-container="row">
				<div flex-item flex-container="column">

					<div class="m+">
						<form>
							<lx-text-field label="Schulleitung" fixed-label="true" icon="account">
								<input type="text" ng-model="school.Schulleitung" ng-disabled="true">
							</lx-text-field>

							<lx-text-field label="Telefon" fixed-label="true" icon="phone">
								<input type="text" ng-model="school.Telefon" ng-disabled="true">
							</lx-text-field>

							<lx-text-field label="E-Mail Adresse" fixed-label="true" icon="email">
								<input type="email" ng-model="school.eMail" ng-disabled="true">
							</lx-text-field>

							<lx-text-field label="Adresse" fixed-label="true" icon="city">
								<input type="text" ng-model="school.Adresse" ng-disabled="true">
							</lx-text-field>
						</form>
					</div>

					<div class="m+"  flex-item ng-if="school.Bauten.length > 0">
						<span class="fs-title display-block mb">Barrierefreiheit</span>

						<div class="divider divider--dark"></div>

						<ul class="list" ng-repeat="acc in school.Bauten">
							<li class="list-row list-row--has-separator">
								<span>{{ acc }}</span>
							</li>
						</ul>

					</div>

				</div>
				<div flex-item flex-container="row">
					<div flex-item>

						<div class="m+" ng-if="school.Leistungskurse.length > 0">
							<span class="fs-title display-block mb">Leistungskurse</span>

							<div class="divider divider--dark"></div>

							<ul class="list" ng-repeat="course in school.Leistungskurse">
								<li class="list-row list-row--has-separator">
									<span>{{ course }}</span>
								</li>
							</ul>

						</div>

						<div class="m+" ng-if="school.Fremdsprachen.length > 0">
							<span class="fs-title display-block mb">Fremdsprachen</span>

							<div class="divider divider--dark"></div>

							<ul class="list" ng-repeat="lang in school.Fremdsprachen">
								<li class="list-row list-row--has-separator">
									<span>{{ lang }}</span>
								</li>
							</ul>

						</div>

						<div class="m+" ng-if="school.spez_Angebote.length > 0">
							<span class="fs-title display-block mb">Spezielle Angebote</span>

							<div class="divider divider--dark"></div>

							<div class="list-row">{{ school.spez_Angebote }}</div>

						</div>

						<div class="m+" ng-if="school.BemerkungenSchulzweig.length > 0">
							<span class="fs-title display-block mb">Bemerkungen zum Schulzweig</span>

							<div class="divider divider--dark"></div>

							<div class="list-row">{{ school.BemerkungenSchulzweig }}</div>

						</div>

					</div>
				</div>

			</div>
			<div class="card__actions center">
				<a class="btn btn--m btn--black btn--flat" lx-ripple
				href="mailto:{{ school.eMail }}" ng-if="school.eMail.length > 0">E-Mail an Schule</a>
				<a class="btn btn--m btn--orange btn--flat" lx-ripple
				href="{{ school.Internet }}" target="_blank" ng-if="school.Internet.length > 0">Webseite</a>
			</div>
		</div>
	</div>
</div>


</div>
<div class="large-12 columns" ng:show="loading != null">
	<h1>Suche nach der Schule mit der Nummer {{schoolId}}!</h1>
</div>
<div class="large-12 columns" ng:show="error != null">
	<h1>Wir haben leider keine Schule mit der Nummer {{schoolId}} gefunden!</h1>
</div>
