<div>
	<form>
		<md-progress-linear style="position: absolute" class="mb++" md-mode="indeterminate" ng-if="loading"></md-progress-linear>
		<div flex-item>
			<div class="tc-black-1" flex-container="row" layout-align="center">
				<div flex-item="8">
					<div class="p+">
						<lx-text-field label="Suchen">
							<input type="text" ng-model="searchText" ng-change="filter()">
						</lx-text-field>
					</div>
				</div>
				<div flex-time="1">
					<div class="p+++">
						<button class="btn btn--m btn--green btn--fab" lx-ripple ng-click="toogleFilter()"><i class="mdi mdi-plus"></i></button>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="showFilter" flex-item>

			<div class="fs-headline display-block m+">
				<span>Erweiterte Suche</span>
			</div>

			<div class="tc-black-1" flex-container="row">
				<div flex-time="3"><div class="p+">
					<lx-text-field label="Stra&#223;e">
						<input type="text" ng-model="searchFilter.street" ng-change="filter()">
					</lx-text-field>
				</div></div>

				<div flex-item="3"><div class="p+">
					<lx-select ng-model="cbDistricts.selectedDistricts" change="cbDistricts.exec(newValue)" placeholder="Bezirk" choices="cbDistricts.districts" loading="{{ cbDistricts.loading }}" multiple floating-label>
						<lx-select-selected>
							{{ $selected.name }}
						</lx-select-selected>

						<lx-select-choices>
							{{ $choice.name }}
						</lx-select-choices>
					</lx-select>
				</div></div>

				<div flex-item="3"><div class="p+">
					<lx-select ng-model="cbSchooltypes.selectedTypes" change="cbSchooltypes.exec(newValue)" placeholder="Schulart" choices="cbSchooltypes.schooltypes" loading="{{ cbSchooltypes.loading }}" multiple floating-label>
						<lx-select-selected>
							{{ $selected.name }}
						</lx-select-selected>

						<lx-select-choices>
							{{ $choice.name }}
						</lx-select-choices>
					</lx-select>
				</div></div>

				<div flex-item="3"><div class="p+">
					<lx-select ng-model="cbSchoolSupporter.selectedSupporter" change="cbSchoolSupporter.exec(newValue)" placeholder="Schultr&auml;ger" choices="cbSchoolSupporter.supporter" loading="{{ cbSchoolSupporter.loading }}" multiple floating-label>
						<lx-select-selected>
							{{ $selected.name }}
						</lx-select-selected>

						<lx-select-choices>
							{{ $choice.name }}
						</lx-select-choices>
					</lx-select>
				</div></div>

			</div>


			<div class="tc-black-1" flex-container="row">
				<div flex-item="3"><div class="p+">
					<lx-select ng-model="cbLanguages.selectedLang" change="cbLanguages.exec(newValue)" placeholder="Fremdsprachen" choices="cbLanguages.languages" loading="{{ cbLanguages.loading }}" multiple floating-label>
						<lx-select-selected>
							{{ $selected.name }}
						</lx-select-selected>

						<lx-select-choices>
							{{ $choice.name }}
						</lx-select-choices>
					</lx-select>
				</div></div>

				<div flex-item="3"><div class="p+">
					<lx-select ng-model="cbAccessibility.selectedAccessibilities" change="cbAccessibility.exec(newValue)" placeholder="Barrierefreiheit" choices="cbAccessibility.accessibilities" loading="{{ cbAccessibility.loading }}" multiple floating-label>
						<lx-select-selected>
							{{ $selected.name }}
						</lx-select-selected>

						<lx-select-choices>
							{{ $choice.name }}
						</lx-select-choices>
					</lx-select>
				</div></div>

				<div flex-item="3"><div class="p+">
					<lx-select ng-model="cbCourses.selectedCourses" change="cbCourses.exec(newValue)" placeholder="Leistungskurse" choices="cbCourses.courses" loading="{{ cbCourses.loading }}" multiple floating-label>
						<lx-select-selected>
							{{ $selected.name }}
						</lx-select-selected>

						<lx-select-choices>
							{{ $choice.name }}
						</lx-select-choices>
					</lx-select>
				</div></div>
			</div>

			<div class="tc-black-1 mb++" flex-container="row">
				<div class="switch mt++">
					<input type="checkbox" id="ganztagsbetrieb" class="switch__input" ng-model="searchFilter.allDayCare" ng-change="filter()">
					<label for="ganztagsbetrieb" class="switch__label">Ganztagsbetrieb</label>
					<span class="switch__help">Nur Schulen anzeigen, die Ganztagsbetrieb anbieten.</span>
				</div>

				<div class="switch mt++">
					<input type="checkbox" id="dualesLernen" class="switch__input" ng-model="searchFilter.dual" ng-change="filter()">
					<label for="dualesLernen" class="switch__label">Duales Lernen</label>
					<span class="switch__help">Nur Schulen anzeigen, die eine Art des dualen Lernens anbieten</span>
				</div>

				<div class="switch mt++">
					<input type="checkbox" id="zweiterBildungsweg" class="switch__input" ng-model="searchFilter.secEdu" ng-change="filter()">
					<label for="zweiterBildungsweg" class="switch__label">zweiter Bildungsweg</label>
					<span class="switch__help">Schulen mit zweiten Bildungsweg</span>
				</div>
			</div>
<!--
			<lx-select ng-model="selects.selectedPersons" placeholder="Lorem Ipsum" choices="people" multiple floating-label>
				<lx-select-selected>
					{{ $selected.name }} - {{ $selected.age }}
				</lx-select-selected>

				<lx-select-choices>
					{{ $choice.email }}
				</lx-select-choices>
			</lx-select> -->
		</div>
	</form>
</div>
